.container {
    padding: 20px;
    background-color: #102C57;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.container label {
    font-weight: bold;
    color: #DAC0A3; /* Set the color of labels */
}

.form-control {
    margin-top: 10px;
}