#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  10px;
  margin-right: 44px;
}

#uploadedImage {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%; /* Creates a rounded circle */
  object-fit: cover; /* Ensures the image covers the entire circle */
  border: 2px solid #ccc; /* Optional: Add border for styling */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

.h {
  text-align: center;
  margin-top: 90px;
}


.wr {
  display: flex; /* Create a flexbox container for left and right sections */
  
}

